body{
    background-color: pink;
}
a{
    color: aliceblue;
    text-decoration: none;
   display:  inline-block; 
    line-height: 1.5;
}
h1{
    text-align: center;
    font-size: 28px;
}
img{
    max-width: 100%;
    padding: 0 auto;
    margin: 5px;
    border-radius: 4px;
    display: block;
}
